.modal__title {
    font-weight: 600;
    font-family: var(--body-font);
}

#btnCart {
    margin-left: 15%;
    cursor: pointer;
    position: relative;
}

#cantidad {
    position: absolute;
    top: -25%;
    color: var(--black-color);
    font-size: 1rem;
    font-weight: 700;
    line-height: 100%;
    padding: 0.1rem 0.6rem;
    border-radius: 1rem;
}

#productosCarrito {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 1em;
}

.modal__container {
    display: flex;
    justify-content: flex-start;
}

.modal__img {
    border-radius: 6%;
    width: 15%;
}

.modal__texts {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 0 6%;
}

.modal__icon {
    margin-left: auto;
    margin-top: 5%;
}

.modal__paragraph--bold {
    font-weight: 700;
}