.modal__title {
    font-weight: 600;
    font-family: var(--body-font);
}

#btnCart {
    margin-left: 15%;
    cursor: pointer;
    position: relative;
}

#cantidad {
    position: absolute;
    top: -25%;
    color: var(--black-color);
    font-size: 1rem;
    font-weight: 700;
    line-height: 100%;
    padding: 0.1rem 0.6rem;
    border-radius: 1rem;
}

#productosCarrito {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 1em;
}

.modal__container {
    display: flex;
    justify-content: flex-start;
}

.modal__img {
    border-radius: 6%;
    width: 15%;
}

.modal__texts {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 0 6%;
}

.modal__icon {
    margin-left: auto;
    margin-top: 5%;
}

.modal__paragraph--bold {
    font-weight: 700;
}

.cart__container {
    margin-top: 3em;
}

.cartItem__container {
    width: 90%;
    max-width: 1200px;
    margin: 0 auto;
    padding: 1.2% 0;
    overflow: hidden;
}

.cartItem__title {
    font-size: 'Open Sans', sans-serif;
    font-weight: 400;
    color: #222;
}

.cartItem_paragraph {
    display: contents;
    padding-right: 2em;
}

.cartItem__row {
    align-items: center;
}

.cartItem__figure {
    margin-top: 0.8em !important;
}

.cartItem__content {
    margin-top: 0.8em !important;
    text-align: center;
}

.cartItem__img {
    width: 30%;
}

.cartItem__btn {
    background-color: #f44336;
    border-radius: 50%;
    padding: 4%;
    text-align: center;
    text-decoration: none;
    border-color: #f44336;
    font-size: 16px;
}

.cartItem__texts {
    font-weight: 200;
}

#line2 {
    margin-top: 1.4em;
}

#line2,
#line1 {
    width: 100%;
}

.cartItem__description {
    width: 30%;
    margin-left: auto;
}

.cartItem__description--text {
    font-weight: 200;
}

.cartItem__description--texts {
    font-weight: 400;
}

.cartItem__description--buttons {
    display: flex;
    gap: 1em;
}

#container--items {
    width: 100%;
}