.item__container {
    width: 60%;
    max-width: 1200px;
    margin: 0 auto;
    padding: 8% 0;
    overflow: hidden;
}

.item {
    display: grid;
    justify-content: center;
    grid-template-columns: repeat(2, 1fr);
    gap: 2.5em;


    &__content {
        grid-column: 1 / 2;
        grid-row: 1;
    }

    &__texts {
        grid-column: 2 / 2;
        grid-row: 1;
    }

    &__title {
        font-size: 2.3rem;
    }

    &__price {
        font-size: 2rem;
        font-weight: 500;
    }

    &__img {
        width: 90%;
    }

    &__size {
        font-size: 1.3rem;
        font-weight: 400;
    }

    &__sizes {
        margin-top: 1rem;
        margin-bottom: 2rem;
    }

    &__quantities {
        display: flex;
        align-items: center;
        gap: 1em;
        margin-bottom: 3em;
    }

    &__quantity {
        align-items: center;
    }

    &__btn {
        background-color: var(--green-color);
        color: var(--white-goingtogrey-color);
        font-family: var(--body-font);
        border: var(--green-color) solid 1px;
        text-align: center;
        padding: 2% 3%;

    }
}