.fylo {
    background-color: var(--white-goingtogrey-color);
}

.container {
    width: 90%;
    max-width: 1200px;
    margin: 0 auto;
    padding: 8% 0;
    overflow: hidden;
}

.nav {
    display: flex;
    align-items: center;

    &__logo {
        width: 40%;
    }


    &__img {
        width: 100%;
        display: block;
    }

    &__link:first-of-type {
        display: none;
    }

    &__link:nth-of-type(2) {
        margin-left: auto;
    }

    &__link {
        display: inline-block;
        margin-left: 3vh;
        color: --black-color;
        text-decoration: none;
    }

    &__icon {
        width: 32px;
    }
}


.line {
    width: 90%;
    border-bottom: solid 1px var(--grey-darker-color);
    margin: auto;
}

.greeting {
    width: 90%;
    max-width: 1200px;
    margin: 0 auto;
    padding: 1.2% 0;
    overflow: hidden;

    &__text {
        font-size: 1.2rem;
        font-weight: 600;
    }
}