.products {
    display: flex;
    flex-wrap: wrap;
}

.product__content {
    display: flex;
    flex-wrap: wrap;
    gap: 0.5em;
}

.product__img {
    width: 100%;
    object-fit: cover;
    max-width: 600px;
}

.product__title {
    font-family: var(--body-font);
    font-size: 1.4rem;
    font-weight: 700;
}

.product__texts {
    display: flex;
    flex-direction: column;
    gap: 0.4em;
}

.product__buttons {
    display: flex;
    justify-content: space-between;
    // width: 100%;
}

.product__paragraph,
.product__price {
    font-family: var(--body-font);
    font-weight: 500;
}

.product__paragraph {
    color: var(--grey-font);
}

.product__price {
    font-weight: 600;
    font-size: 1.1rem;
}

.product__btn {
    background-color: var(--green-color);
    color: var(--white-goingtogrey-color);
    font-family: var(--body-font);
    border: var(--green-color) solid 1px;
    text-align: center;
    padding: 1% 100%;

}

.item__btn {
    background-color: var(--green-color);
    color: var(--white-goingtogrey-color);
    font-family: var(--body-font);
    border: var(--green-color) solid 1px;
    text-align: center;
    padding: 2% 3%;

}